# =========================
# Fichiers compilés Java
# =========================
*.class

# =========================
# Logs
# =========================
*.log
CMakeLists.txt

# =========================
# IDE - Eclipse
# =========================
.vscode

# =========================
# IDE - IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
*.ipr

# =========================
# IDE - VS Code
# =========================
.vscode/

# =========================
# Build / Output
# =========================
**/build/
target/
bin/
out/

# =========================
# Packages
# =========================
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# =========================
# Système
# =========================
.DS_Store
Thumbs.db

# =========================
# JVM crash logs
# =========================
hs_err_pid*
replay_pid*

# =========================
# BlueJ / J2ME
# =========================
*.ctxt
.mtj.tmp/
