# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
Makefile
_CPack_Packages/
CPackConfig.cmake
CPackSourceConfig.cmake
*.cmake

# Executables
exemple
